<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
    <title>medical record system</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="/index" method="post" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="/images/logo.png" alt="easyclass" />
                <h4>medical record system</h4>
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    name="username"
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Aadhar No / Username</label>
                </div>

                <div class="input-wrap">
                  <input
                    name = "password"
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <input type="submit" value="Sign In" class="sign-btn" />

              </div>
            </form>

            <form action="index.html" autocomplete="off" class="sign-up-form">
              <div class="logo">
                <img src="/images/logo.png" alt="easyclass" />
                <h4>medical record system</h4>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
              <a href="/userForm">
                <input value="Sign Up as User" class="sign-btn" style="text-align: center;"/>
              </a>
              <a href="/doctorForm">
                <input value="Sign Up as Doctor" class="sign-btn" style="text-align: center;"/>
              </a>
              <a href="/chemistForm">
                <input value="Sign Up as Chemist" class="sign-btn" style="text-align: center;"/>
              </a>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="/images/img1.png" class="image img-1 show" alt="" />
              <img src="/images/img1.png" class="image img-2" alt="" />
              <img src="/images/img1.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Store Medical Health Records</h2>
                  <h2>Analyse Medical Health Records</h2>
                  <h2>Predict using Medical Records</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/index.js"></script>
  </body>
</html>